<!DOCTYPE logback>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tlevel:%-5level\tlogger:%-48logger{48}\tmsg:%msg%n]]></pattern>
        </encoder>
    </appender>

    <appender name="ROLLING"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>log/projectName.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/projectName-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>2</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tlevel:%-5level\tlogger:%-48logger{48}\tmsg:%msg%n]]></Pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="xxxxxx.yyyyyy.zzzzzz">
        <level value="debug" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="warn" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="warn" />
    </logger>

    <logger name="org.springframework.context">
        <level value="warn" />
    </logger>

    <logger name="org.springframework.web">
        <level value="warn" />
    </logger>

    <logger name="org.springframework.web.servlet">
        <level value="info" />
    </logger>

    <logger
        name="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <level value="info" />
    </logger>

    <logger name="org.springframework.security.core.userdetails">
        <level value="debug" />
    </logger>

    <!-- for hibernate3 -->
    <logger name="org.hibernate.transaction">
        <level value="debug" />
    </logger>

    <!-- for hibernate4 -->
    <logger name="org.hibernate.engine.transaction">
        <level value="debug" />
    </logger>

    <logger name="org.hibernate.cfg.annotations.QueryBinder">
        <level value="debug" />
    </logger>

    <logger name="org.hibernate.tool">
        <level value="debug" />
    </logger>

    <logger name="jdbc.sqltiming">
        <level value="debug" />
    </logger>

    <root>
        <level value="warn" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>